head
  title Brian R. Bondy
  script(src='/js/bundle.js')
  script(src='/js/analytics.js', async)
  link(rel='stylesheet', href='/css/main.css')
  link(rel='stylesheet' href='/css/font-awesome/font-awesome.css')
  link(rel='stylesheet' href='/css/highlight-default.css')
  link(rel='shortcut icon', href='/img/favicon.ico')
body
