export cookiePassword = 'put-password-here';
export var gmailUsername = 'your-email-address@gmail.com';
export var gmailPassword = 'your-gmail-password';
export var adminEmail = 'your-email-address@gmail.com';
export var adminModePassword = 'your-admin-mode-password';
