body {
  background-color: white;
  margin: 0;
}

a {
  text-decoration: none;
}

.topBar {
  background-color: #f0f0f0;
  border-bottom: 1px solid rgba(146, 178, 207, 0.3);
  list-style-type: none;

  .topBarLinks {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    padding: 10px;

    a {
      color: black;

      &:hover {
        color: blue;
      }
    }

    &.social {
      float: right;
    }

    .fa-twitter {
      color: #00ABF1;
    }

    .fa-rss {
      color: #FD7613;
    }

    .fa-youtube-play {
      color: #DB1A24;
    }

    .fa-linkedin, .fa-github, .fa-stack-overflow {
      color: black;
    }
  }
}

.mainBody {
  padding: 0 25px;
}

.blogPost {
  margin-bottom: 60px;
}


h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
  padding-top: 10px;
}

.tag, .yearTag {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: black;
  line-height: 3;
  margin: 5px;
  padding: 8px;
  text-decoration: none;
  white-space: nowrap;
  font-size: 90%;
  border-radius: 15px;
}

.datePosted {
  font-size: 14px;
  margin-top: -10px;
  padding-bottom: 10px;
}

.tagContainer {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
